<%= form_for [refinery, :usermembers_admin, @usermember] do |f| -%>
  <%= render "/refinery/admin/error_messages", :object => @usermember, :include_object_name => true %>
  
  <div class='field'>
    <%= f.label :email -%>
    <%= f.text_field :email, :class => 'larger widest' -%>
  </div>
  
  <%= render "/refinery/admin/form_actions", :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.admin.usermembers'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @usermember.email)
  %>
<% end -%>
