<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(usermember) -%>">
  <span class='title'>
    <%= usermember.email %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_usermembers_admin_usermember_path(usermember),
         :title => t(".edit") %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.usermembers_admin_usermember_path(usermember),
        :class => "cancel confirm-delete",
        :title => t(".delete"),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => usermember.email),
        :method => :delete
    %>
  </span>
</li>
